.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 8px;
  h1 {
    font-family: 'Roboto Serif', sans-serif;
    position: absolute;
    color: rgba(30, 30, 30, 0.2);
    left: 55rem;
    top: 23.5rem;
    font-weight: bolder;
    font-size: 5rem;
  }

}
